.maskedInput {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;

  color: rgba(0, 0, 0, 0.3);

  font-size: 18px;

  margin-left: 10px;
  margin-bottom: 20px;
  padding: 10px;

  width: 30%;
}
@media (max-width: 500px) {
  .maskedInput {
    width: 90% !important;
  }
}
input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
